<p>hash vs dictionary works!</p>
<div fxLayout="row">
  <div fxFlex="50%">
    <ul>
      <li style="font-weight: bold;">dictionary</li>
      <li>key is a string</li>
      <li>good for just about everything 😍</li>
      <li>I ❤️ Dictionaries</li>
      <li>Only use Map for complex keys (can't serialize Maps)</li>
    </ul>
  </div>
  <div fxFlex="50%">
    <ul>
      <li style="font-weight: bold;">hashmaps</li>
      <li>key is a hash based on the object</li>
      <li>only useful if you are checking 'existence' lots</li>
      <li>I reluctantly use hashmaps</li>
    </ul>
  </div>
</div>
