<div style="overflow: scroll;height: 100%;">
  <h3>Types of collections</h3>
  <div fxLayout="row">
    <div class="code" fxFlex="70%">
      <markdown lineNumbers [data]="array"></markdown>
    </div>
    <div class="example" fxFlex="30%">
      <ul>
        <li>Arrays</li>
      </ul>
    </div>
  </div>
  <div fxLayout="row">
    <div class="code" fxFlex="70%">
      <markdown lineNumbers [data]="dictionary"></markdown>
    </div>
    <div class="example" fxFlex="30%">
      <ul>
        <li>Dictionaries/Maps</li>
      </ul>
    </div>
  </div>
  <div fxLayout="row">
    <div class="code" fxFlex="70%">
      <markdown lineNumbers [data]="hashmap"></markdown>
    </div>
    <div class="example" fxFlex="30%">
      <ul>
        <li>Hash maps</li>
      </ul>
    </div>
  </div>
  <div fxLayout="row">
    <div class="code" fxFlex="70%">
      <markdown lineNumbers [data]="sets"></markdown>
    </div>
    <div class="example" fxFlex="30%">
      <ul>
        <li>Sets, tuples</li>
      </ul>
    </div>
  </div>
  <div fxLayout="row">
    <div class="code" fxFlex="70%">
      <markdown lineNumbers [data]="trees"></markdown>
    </div>
    <div class="example" fxFlex="30%">
      <ul>
        <li>Trees</li>
      </ul>
    </div>
  </div>
</div>
