
<div fxLayout="row">
  <div fxFlex="50%">
    <img src="assets/the-scream.jpeg"/>
  </div>
  <div class="example" fxFlex="50%">
    <ul style="margin-left:10px;">
      <li>"Did he just say pointers?"</li>
      <li>"References are fine..."</li>
      <li>"I'm pretty sure he said pointers"</li>
      <li>"C++ called they want their reference back"</li>
      <li>"Pass by value is good enough"</li>
      <li></li>
      <li></li>
      <li>"Thank goodness Javascript doesn't have pointers"</li>
    </ul>
  </div>
</div>
