<div class="header" fxLayout="row">
  <div fxFlex="50%">
    <span style="margin-left:20px">{{ (currentRoute$ | async).path }}</span>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <span style="color:white; margin-right:20px" i18n>Bitovi</span>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer" fxLayout="row">
  <div style="margin-left:20px" fxFlex="50%" presPrev>
    <span i18n>previous</span>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end" presNext>
    <span style="margin-right:20px" i18n>next</span>
  </div>
</div>
